*{
  font-family: Arial, Helvetica, sans-serif;
}
.logo-row{
  text-align: center;
  line-height: 100px;
}
.logo-row h1{
  margin: 0px;
  vertical-align: middle;
  color: #333;
}
.logo-row a{
  text-decoration: none;
  color: #333;
}
.instagram-icon{
  position: absolute;
  top: 20px;
  right: 40px;
}
.instagram-icon img{
  height: 15px;
  width: 18px;
}
nav {
  overflow: hidden;
  background-color: white;
  /* position: fixed; */
  top: 0;
  width: 100%;
}
nav .flex-container {
  display: flex;
  justify-content: center;
  /* background-color: DodgerBlue; */
}
nav .flex-container div {
  text-align: center;
  margin: 0px 20px;
}

nav .flex-container div a {
  display: block;
  color: #333;
  text-align: center;
  padding: 0px 16px 9px 16px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}

nav .flex-container div a.active{
  border-bottom: 3px solid #333;
}

hr{
  margin: 0 0 6px 0;
}

.main .flex-container {
  display: flex;
  justify-content: center;
}
.main .flex-container div {
  text-align: center;
}

.main .flex-container .gallery-column{
  height: 100px;
}

.main .flex-container img{
  width: 300px;
  height: 300px;
  margin: 6px 8px;
}

.main .prices{
  font-size: 11px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.main .services {
  margin: 20px;
}

.main .contact{
  text-align: center;
}

.main .contact ul{
  list-style: none;
}
.main .contact input{
  width: 32%;  
}

footer{
  position: absolute;
  bottom: 30px;
  left: 30px;
}


aside{
  flex: 1;
}
article{
  flex: 4;
} 

.calendar-wrapper{
  text-align: center;
}

.calendar-wrapper button{
  /* position: fixed; */
  margin: 0px 0px 0px 680px;
}

.calendar{
  display: inline-block;
}

.row{
  display: flex;
}
.title{
  text-align: center;
  font-size: 17px;
  letter-spacing: 3px;
  padding: 20px 0px;
}

.column1 {
  flex: 40%;
  padding: 10px;
}
.column2{
  flex:60%;
  padding: 10px;
  /* max-width: 600px; */
}
.column2 p{
  max-width: 500px;
  letter-spacing: 1px;
}

.column1 img{
  float: right;
  width: 300px;
}

.review-input{
  height: 200px;
  width: 450px;
}

button{
  margin-bottom: 10px;
}