<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="portfolio.css"/>
  <title>Sam Cut Hair</title>
</head>
<body>
  <nav>
    <div class="instagram-icon">
      <a href="https://www.instagram.com/beauty.samhealy/" target="_blank"><img src="/instagram-icon.jpeg"/></a>
    </div>
    <div class="logo-row">
      <!-- <img/> -->
      <h1><a href="/index.html">Woman's Logo Here</a></h1>
    </div>
    <div class="flex-container">
      <div><a href="/index.html">Home</a></div>
      <div><a href="/gallery.html">Gallery</a></div>
      <div><a href="/schedule.html">Schedule</a></div>
      <div><a href="/prices.html">Prices</a></div>
      <div><a href="/contact.html">Contact</a></div>
      <!-- <div><a href="/about.html">About Me</a></div> -->
      <div><a class="active" href="/reviews.html">Reviews</a></div>
    </div>
  </nav>

  <div id="app">
    <hr/>
    <h1>Leave a Review</h1>

    <form v-on:submit.prevent="addItem">
      <input v-model="author" placeholder="Name"></p>
      <textarea v-model="text"></textarea>
      <br/>
      <button type="submit">Comment</button>
    </form>
    <ul>
      <li v-for="item in filteredItems">
          <hr>
          <p>{{item.text}}</p>
          <p><i>-- {{item.author}}</i></p>
          <p># of people how have read this review: {{item.readReview}} </p>
          <button v-on:click="addReadReview(item)">I read this review</button><button v-on:click="deleteReview(item)">Remove Review</button>
      </li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" integrity="sha256-pU9euBaEcVl8Gtg+FRYCtin2vKLN8sx5/4npZDmY2VA=" crossorigin="anonymous"></script>
  <script src="/reviews.js"></script>
</body>
</html>
